.wrapper-runner-border-bottom {
    .runner-border-bottom {
        height: 2px;
        width: 0;
        border-radius: 20%;
    }
    &:hover {
            .runner-border-bottom{
                animation: runner 0.5s ease 1 forwards;
            }
        }
}



@keyframes runner {
    from {width: 0;}
    to {width: 100%;}
}

