.wrapperofLineRunner {
    overflow: hidden;
    .lineRunner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        animation: LineRunner ease 20s infinite;
    }
}

@keyframes LineRunner{
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-100%)
    }
}