.notification {
    opacity: 1;
    border-radius: 4px;
    -webkit-animation: fadeOut 0.1s linear;
    animation: fadeOut 0.1s linear;
    display: none;
    position: fixed;
    right: 75px;
    bottom: 75px;
    z-index: 10000;

    &.show {
        display: block;
        -webkit-animation: fadeIn 0.1s linear;
        animation: fadeIn 0.1s linear;
    }

    &.notification-success,
    &.notification-error {
        content: "";
        position: absolute;
        left: 24px;
        top: 50%;
        width: 24px;
        height: 24px;
        transform: translate(0, -50%);
        background-size: 24px 24px;

        .notification-content {
            padding: 16px 24px 16px 64px;
            font-size: 16px;
            line-height: 20px;
            color: var(--white);
            position: relative;
        }
    }

    &.notification-success {
        .notification-content {
            background: url(../assets/svg/check-all.svg) center no-repeat;
        }
    }

    &.notification-error {
        .notification-content {
            background: url(../assets/svg/heartbreak.svg) center no-repeat;
        }
    }
}

@-webkit-keyframes fadeOut {
    from {
      opacity: 0.8;
    }
    to {
      opacity: 0;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 0.8;
    }
    to {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.8;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.8;
    }
  }