.wrapperOfRunnerBorderBottom {
    .runnerBorderBottom {
        height: 2px;
        width: 0;
        border-radius: 20%;
    }
    &:hover {
            .runnerBorderBottom{
                animation: Runner 0.5s ease 1 forwards;
            }
        }
}



@keyframes Runner {
    from {width: 0;}
    to {width: 100%;}
}

