@font-face {
  font-family: 'Rubik';
  fonst-weight: 400;
  src:url('./assets/fonts/Rubik/static/Rubik-Regular.ttf')
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif !important;
  background: url("./assets/images/back2.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

@import url("./styles/glassEffect.css");


/* :root {
  --height-column: 0
} */

.list-group-item {
  color: white !important;
}
.w-0 {
  width: 0;
}

.vw-20 {
  width: 20vw;
}

.opacity-0 {
  opacity: 0;
}

.transitionSidebar {
  transition: opacity 0.3s ease;

}

.scrollStatus{
  height: calc(var(--height-column) + '%');
}