@font-face {
  font-family: 'Rubik';
  fonst-weight: 400;
  src:url('./assets/fonts/Rubik/static/Rubik-Regular.ttf')
}

@font-face {
  font-family: 'DM';
  fonst-weight: 400;
  src:url('./assets/fonts/DM_Serif_Display/DMSerifDisplay-Italic.ttf')
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif !important;
}

@import url("./styles/glassEffect.css");
@import url("./styles/rotatingElement.css");
@import url("./styles/book.css");

.DM-fonts {
  font-family: 'DM', sans-serif !important;
}

.accordion-button {
  background: inherit !important;
  color: inherit !important;
}

.w-0 {
  width: 0;
}

.vw-20 {
  width: 20vw;
}

.btn {
  color: inherit !important;
}

.opacity-0 {
  opacity: 0;
}

.transitionSidebar {
  transition: opacity 0.3s ease;

}

.scrollStatus{
  height: calc(var(--height-column) + '%');
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer
}

.scroll-elem::-webkit-scrollbar {
  width: 0
}

.typing-text {
  overflow:hidden;
  width: 4ch;
  animation: type 5s steps(4);
}
@keyframes type{
  from { width: 0; }
}