/* @font-face {
  font-family: 'Rubik';
  fonst-weight: 400;
  src:url('./assets/fonts/Rubik/static/Rubik-Regular.ttf')
}

@font-face {
  font-family: 'DM';
  fonst-weight: 400;
  src:url('./assets/fonts/DM_Serif_Display/DMSerifDisplay-Italic.ttf')
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif !important;
}

@import url("./styles/glassEffect.css");
@import url("./styles/rotatingElement.css");
@import url("./styles/book.css");

.DM-fonts {
  font-family: 'DM', sans-serif !important;
}

.accordion-button {
  background: inherit !important;
  color: inherit !important;
}

.w-0 {
  width: 0;
}

.vw-20 {
  width: 20vw;
}

.btn {
  color: inherit !important;
}

.opacity-0 {
  opacity: 0;
}

.transitionSidebar {
  transition: opacity 0.3s ease;

}

.scrollStatus{
  height: calc(var(--height-column) + '%');
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer
}

.scroll-elem::-webkit-scrollbar {
  width: 0
}

.blinking {
  display: inline-block;

  animation: blinking 0.5s step-start infinite;
}

@keyframes blinking {
  50% {opacity: 1;}
  100% {opacity: 0;}
} */

/* .notification {
  opacity: 1;
  border-radius: 4px;
  -webkit-animation: fadeOut 0.1s linear;
          animation: fadeOut 0.1s linear;
  display: none;
  position: fixed;
  right: 75px;
  bottom: 75px;
  z-index: 10000;
}

.notification.show {
  display: block;
  -webkit-animation: fadeIn 0.1s linear;
          animation: fadeIn 0.1s linear;
}

.notification-content {
  padding: 16px 24px 16px 64px;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  position: relative;
}

.notification.notification-success .notification-content:after,
.notification.notification-error .notification-content:after {
  content: "";
  position: absolute;
  left: 24px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translate(0, -50%);
  background-size: 24px 24px;
}

.notification.notification-success .notification-content:after {
  background: url(./assets/svg/check-all.svg) center no-repeat;
}

.notification.notification-error .notification-content:after {
  background: url(./assets/svg/heartbreak.svg) center no-repeat;
} 

@-webkit-keyframes fadeOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
} */

/* .wrapper-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: linear-gradient(145deg, white 40%, #001eff); 
  filter: blur(12px);
}

.container-color {
  position: absolute;
  bottom: 0;
  right: 0;
  animation: Rotate 10s ease infinite;
  width: 200px;
  height: 200px;
}

.color {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.color-1 {
  background-color: aqua;
  animation: TranslateTopBottom 5s ease infinite,
  TranslateRightLeft 5s ease infinite;
}

.color-2 {
  background-color: aquamarine;
  animation: TranslateTopBottom 5s ease infinite,
  
}

.color-3 {
  background-color: #f7f7f7;
  animation: TranslateBottomTop 5s ease infinite,
 
}

.color-4 {
  background-color: hotpink;
  animation: TranslateBottomTop 5s ease infinite,
  TranslateLeftRight 5s ease infinite;
}

@keyframes Rotate {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

@keyframes TranslateTopBottom {
  0% {transform: translateY(0);}
  50% {transform: translateY(100%)}
  100% {transform: translateY(0);}
}

@keyframes TranslateBottomTop {
  0% {transform: translateY(0);}
  50% {transform: translateY(-100%)}
  100% {transform: translateY(0);}
}

@keyframes TranslateRightLeft {
    0% {transform: translateX(0);}
    50% {transform: translateX(100%);}
    100% {transform: translateX(0);}
}

@keyframes TranslateLeftRight {
  0% {transform: translateX(0);}
  50% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
} */

/* .w-200px {
  width: 200px;
}

.accordion-header > button {
  padding-left: 0;
}

.hover:hover {
  transform: scale(1.2)
} */